.grantt-chart {
    width: 90%;
    margin-top: 40px;
    display: flex;
    max-height: 500px;
    float: right;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
}

.grantt-container {
    flex:1 1;
    border-right: 1px solid #ccc;
    height: 100%;
    position: sticky;
    left: 0;
    right: 0;
    z-index: 100000;
    background-color: #fff;
}

.grantt-draggble {
    flex:2 1;
    max-width: 880px;
    height:100%;
    /* overflow: scroll; */
}
.grantt-menu {
    position: sticky;
    top: 0;
}

/* Title */

.grantt-header {
    display: flex;
    height:50px;
    position: sticky;
    background-color: #fff;
    z-index: 10000;
    top: 0;
    width: 20%;
}

.grantt-header.title {
    width: 462px;
}

.grantt-header.time {
    width: 850px;
}

.grantt-title {
    flex:1 1;
}

.grantt-title div{
    display: inline-block;
    line-height:50px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left:1px solid #ccc;
    width:25%;
}

.grantt-time {
    flex:2 1;
    display: flex;
    height:52px;
}

/* time */
.grantt-time__box{
    position: relative;
    border-right: 1px solid #ccc;
    background-color: #fff;
    width:851px;
}

.grantt-month {
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
}

.grantt-date li{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    user-select: none;
    font-size: 12px;
    line-height: 29px;
    width:calc(850px / 30);
    border-bottom: 1px solid #ccc;
    border-left:1px solid #ccc;
}

/* content */

.grantt-row {
    flex:1 1;
}

.grantt-row div{
    display: inline-block;
    line-height:50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-left:1px solid #ccc;
    width:25%;
}

.grantt-content {
    flex:2 1;
}

.grantt-content__box {
    position: relative;
    width:850px;
    height:51px;
}
/* 
.first {
    margin-top:52px;
} */


.grantt-progress {
    position: relative;
    height:20px;
    top: 50%;
    transform: translateY(-50%);
}

.grantt-progress div{
    height:20px;
    display:inline-block;
}

.progress-child-left {
    background-color:red;
    width: 25%;
}

.progress-child-center {
    background-color:green;
    width: 50%;
}

.progress-child-right {
    width: 25%;
    background-color: yellow;
}
