.ring-bell {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.bell-animation {
    -webkit-animation:ringBell ease-in 2.5s infinite;
    animation:ringBell ease-in 2.5s infinite;
    animation-delay: 0.5s;
}

.notiNum {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    right: 10%;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    height: 30px;
    width: 30px;
}

@keyframes ringBell {
  0% {
      transform: rotate(0deg)
  }
  30% {
      transform: rotate(0deg)
  }
  33% {
      transform: rotate(-15deg)
  }
  36% {
      transform: rotate(15deg)
  }
  39% {
      transform: rotate(-15deg)
  }
  42% {
      transform: rotate(15deg)
  }
  45% {
      transform: rotate(-15deg)
  }
  48% {
      transform: rotate(15deg);
      opacity: 1
  }
  51% {
      transform: rotate(-15deg)
  }
  54% {
      transform: rotate(15deg)
  }
  57% {
      transform: rotate(0deg)
  }
}